@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@300;400;500;600&family=Martel:wght@400;600&family=Quicksand:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: unset;
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 0px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #a881fa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  /* background: #FDFCFF; */
  background: #f5f6fb;
}

button {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #6725f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-block {
  display: block!important;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-gap-2 {
  column-gap: 10px;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.btn-primary {
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #6725f4;
  background: #ece5fb;
  color: #6725f4;
}

.btn-primary:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-outlined {
  border: 1px solid #6725f4;
  color: #6725f4;
  background: transparent;
}

.btn-dark {
  background: #6725f4;
  color: #fff;
}

.btn-dark:hover {
  background: #fff;
  color: #6725f4;
}

button:hover, a:hover {
  transform: translateY(-2px);
  transition: all 0.15s ease-in-out;
}

.move-img {
  animation: 3s move-up-down infinite;
}

@keyframes move-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


/* Print Resume */

@media print {
  /* html, body {
    width: 210mm;
    height: 297mm;        
  } */
  .print-none {
    display: none!important;
  }
  body  {
    visibility: hidden;
  }
  #templateContainer {
    visibility: visible;
    margin: 0 auto;
  }
  #templateContainer, #templateContainer:last-child {
    /* page-break-after: avoid; */
    page-break-after: auto;
  }
}

@media print {
  body *,
  *::before,
  *::after {
    -webkit-print-color-adjust: exact !important; 
    color-adjust: exact !important;
  }
}

@page {
  size: A4;
  margin: 0;
}