@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@300;400;500;600&family=Martel:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: unset;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a881fa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background: #FDFCFF; */
  background: #f5f6fb;
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  outline: 0;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}

input {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #6725f4;
  transition: all 0.5s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-gap-2 {
  column-gap: 10px;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.question-box {}

.question-box:hover {}

.question-box:hover>div {
  transform: scale3d(1.1, 1.1, 1.1) rotate(180deg);
}

.question-box-closed {}

.question-box-closed:hover>div {
  transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
}

.arrow-down-to-top {
  transform: rotate(180deg);
}

.answer-box {
  animation: show-answer-box 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #F5F6F7;
  color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 30vh;

  p {
    animation: show-answer 0.5s ease;
  }

}

@keyframes show-answer-box {
  0% {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: 0;
  }

  100% {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #F5F6F7;
    color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 30vh;
  }

}


@keyframes show-answer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.answer-box-closed {
  animation: show-answer-box-closed 0.5s ease-out;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: 0;

  p {
    opacity: 0;
  }
}

@keyframes show-answer-box-closed {
  0% {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #F5F6F7;
    color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 30vh;
  }

  100% {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: 0;
  }

}


.btn-primary {
  padding: 10px 25px;
  border-radius: 15px;
  border: 1px solid #6725f4;
  background: #ece5fb;
  color: #6725f4;
}

.btn-primary:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-outlined {
  border: 1px solid #6725f4;
  color: #6725f4;
  background: transparent;
}

.btn-dark {
  background: #6725f4;
  color: #fff;
}

.btn-dark:hover {
  background: #fff;
  color: #6725f4;
}

.btn-secondary {
  background: #ff4d4d;
  color: #fff;
  padding: 10px 25px;
  border-radius: 15px;
  border: 1px solid #ff4d4d;
}

.btn-secondary:hover {
  background: #fff;
  color: #ff4d4d;
}

button:hover,
a:hover {
  /* transform: scale3d(0.95, 0.95, 0.95); */
}

.move-img {
  animation: 3s move-up-down infinite;
}

@keyframes move-up-down {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Swiper Slider css (Template Switcher) */

.swiper {
  width: 500px;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-pagination {
  bottom: -30px !important;
  scale: 1.2;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-slide {
  border: 1px solid #2C2C2C;
}

/* Print Resume */

@media print {

  /* html, body {
    width: 210mm;
    height: 297mm;        
  } */
  .print-none {
    display: none !important;
  }

  body {
    visibility: hidden;
  }

  #templateContainer {
    visibility: visible;
    margin: 0 auto;
  }

  #templateContainer,
  #templateContainer:last-child {
    /* page-break-after: avoid; */
    page-break-after: auto;
  }
}

@media print {

  body *,
  *::before,
  *::after {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}

@page {
  size: A4;
  margin: 0;
}